.requestDataContainer{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.requestInfo{
    padding: 10px;
    flex-basis: 89%;
}

.pending{
    color: gray;
}

.accepted{
    color: green;
}