.requestDataContainer{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.requestInfo{
    padding: 10px;
    flex-basis: 89%;
}

.pending{
    color: gray;
}

.accepted{
    color: green;
}

.payBtn{
    margin-top: 50px;
    padding: 05px 20px;
    color: white;
    background-color:#770043 ;
    border: none;
    border-radius: 05px;
}

.disabled{
    background-color: gray;
}